<div class="container">

<!-- Navigation Bar -->
    <div class="navbar">
         <div class="head">
            <h2>ToolM5</h2>
         </div>
         <div class="navitem">
            <ul>
            <li><a>About</a></li>
            <li><a>Services</a></li>
            <li><a>Contacts</a></li>
            </ul>
         </div>

            <div class="hamburger" (click)="toggleNav()">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <div class="nav-items" *ngIf="showNav">
              <a href="#">Home</a>
              <a href="#">About</a>
              <a href="#">Contact</a>
            </div>
            
         <div class="soc-icon">
            <ul>
            <li><a href="#"><img src="assets/icons/facebook.jpg"></a></li>
            <li><a href="#"><img src="assets/icons/twitter.jpg"></a></li>
            <li><a href="#"><img src="assets/icons/instagram.jpg"></a></li>
            </ul>
        </div>
        <div class="btn">
            <button>Get_Started<img src="assets/icons/rightarrow.jpg"></button>
         </div>
    </div>

<!-- Slider -->
    <div class="slider">
         <div class="cont">
            <h2>Create your</h2>
            <h1>T-Shirt Design</h1>
         </div>
         <div class="cont">
            <button class="btn2">Get Started</button>
         </div>
         <div class="cont">
            <a href="#">View how it works</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
         </div>
    </div>

<!-- Icons -->
    <div class="icon">
      <div class="iconhead">
         <h3>Our Features</h3>
         </div>
         <div class="icondata">
            <img class="ic1" src="assets/icons/color.jpg">
            <img class="ic2" src="assets/icons/paintclr.png">
            <h4>Unique Design</h4>
            <small>Jan5, 2014</small>
         </div>
         <div class="icondata">
            <img class="ic1" src="assets/icons/floor.jpg">
            <img class="ic2" src="assets/icons/floorclr.png">
            <h4>Quality Material</h4>
            <small>Oct10, 2020</small>
         </div>
         <div class="icondata">
            <img class="ic1" src="assets/icons/tshirt.jpg">
            <img class="ic2" src="assets/icons/tshirtclr.png">
            <h4>High Print Quality</h4>
            <small>Sep5, 2021</small>
         </div>
         <div class="icondata">
            <img  class="ic1" src="assets/icons/smile.jpg">
            <img class="ic2" src="assets/icons/smileclr.png">
            <h4>Good Reviews</h4>
            <small>Oct15,2023</small>
         </div>
    </div>
  
<!-- Cards -->
    <div class="content">

      <div class="cardhead">
         <h3>How it works?</h3>
         </div>

         <div class="cards">
         <div class="card1">
            <img src="assets/icons/cardimg.jpg">
            <div>
                <h1>Unique T-Shirt</h1>
            </div>
            <div class="btn-otr">
                <button  class="btn3">Buy For $59</button>
                <button  class="btn4">View all<img src="assets/icons/rightarrow.jpg"></button>
            </div>
         </div>
         <div class="card2">
            <div>
            <h5>Unique T- Shirt Design</h5>
            </div>
            <div class="para">
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Sequi eos consectetur at architecto officiis magni 
                    minima voluptates culpa, natus, officia, maiores voluptatem 
                    beatae eaque corporis id fugitLorem ipsum dolor, sit amet consectetur
                     adipisicing elit.
                    
                </p>
                <p>Dolor, sit amet consectetur adipisicing elit.
                    Sequi eos consectetur at architecto officiis magni 
                   minima voluptates culpa, natus, officia, maiores voluptatem 
                   beatae eaque corporis id fugitLorem ipsum dolor, sit amet 
                   consectetur adipisicing elit.voluptates culpa, natus, officia, maiores voluptatem 
                   beatae eaque corporis id fugitLorem ipsum dolor, sit amet 
                   consectetur adipisicing elit.
                  
               </p>
            </div>
            <div class="btn-otr">
                <button  class="btn3">Subscribe $79/q</button>
                <button  class="btn4">More info<img src="assets/icons/rightarrow.jpg"></button>
            </div>
         </div>
         </div>
    </div>

<!-- Footer Aboutpg -->
    <div class="footer">
         <div>
            <h1>AboutUs</h1>
         </div>
         <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Reprehenderit ipsam porro nostrum sed? Placeat adipisci atque nulla 
                 dolores pariatur quidem porro possimus ex molestias omnis. 
                 Tempora nihil blanditiis quo quasi.laceat adipisci atque nulla 
                 dolores pariatur quidem porro possimus ex molestias omnis. 
                 Tempora nihil blanditiis quo quasi.
            </p>
         </div>
         </div>

         <!-- Footer -->
         <div class="cr">
            <footer>
               <div class="footer-content">
                  <div>
                  <h1>ToolM5</h1>
                  </div>
                  <div class="footer-menu">
                     <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Blog</a></li>
                     </ul>
                  </div>

                  <div class="social">
                     <ul>
                        <li><a href="#"><img src="assets/icons/facebook.jpg"></a></li>
                        <li><a href="#"><img src="assets/icons/twitter.jpg"></a></li>
                        <li><a href="#"><img src="assets/icons/instagram.jpg"></a></li>
                        </ul>
                     </div>

               </div>
            
               <div class="footer-bottom">
                  <p> Copyright &copy; t-shirt manufacturing resources 2023</p>     
               </div>
               
            </footer>
         </div>
      </div>