<link href='https://fonts.googleapis.com/css?family=Red Hat Display' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<div class="container">

<!-- TopNavigation -->
    <div class="topnav">
        <div class="topnav">
        <h5>NEED HELP? REQUEST A CALLBACK</h5>
        <h5>WORKING HOURS 8:00AM-7:45PM</h5>
        </div>
        <div class="topnav">
        <h5>HOTLINE:+91 1234 (456) 345</h5>
        <ul>
            <li>AG</li>
            <li>FB</li>
            <li>TS</li>
            <li>BE</li>
        </ul>
        </div>
    </div>

<!-- Navigation -->
    <div class="colm">
        <img class="logo" src="assets/icons/task2logo.jpg">
        <div class="nav">
        <ul>
            <li>HOME</li>
            <li>ABOUTUS</li>
            <li>SERVICES</li>
            <li>PAGES</li>
            <li>BLOG</li>
            <li>CONTACT</li>
        </ul>
        </div>
        <div class="icon">
        <img class="icon1" src="assets/icons/searchbar.png">
        <p><img class="icon2" src="assets/icons/profile.png">login</p>
        </div>
        <button>Get In Touch</button>
    </div>


<!-- Slider -->
    <div class="slider">
        <img src="assets/icons/sliderimg.jpg">
        
        <ul>
            <li class="list">Home</li>
            <li class="dot">.</li>
            <li class="list">Our Services</li>
        </ul>
    
        <h1>Our Services</h1>
    </div>

<!-- Cards -->
     <div class="cards">
        <div class="ch1">
        <h6>OUR SERVICES</h6>
        </div>
        <div class="cardhead">
            <img class="pic1" src="assets/icons/scribble.png">
            <img class="pic2" src="assets/icons/squiggle.png">
            <h1>Start your digital business<br> with our services</h1>
        </div>

        <div class="grid">
            <div class="box">
                <div class="bg">
                <img class="pic1" src="assets/icons/coding.png">
                <img class="pic2" src="assets/icons/codingclr.png">
                </div>
                <h3>Website development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Vel dolor quasi quos eum, cum quam laborum consequuntur amet sunt est quaerat saepe?
                      Eligendi cupiditate laboriosam molestiae delectus obcaecati quia molestias.</p>
                <a>Explore Service<img class="arw" src="assets/icons/right-arrow.png"></a>
            </div>
            <div class="box">
                <div class="bg">
                <img class="pic1" src="assets/icons/coding.png">
                <img class="pic2" src="assets/icons/codingclr.png">
                </div> 
                <h3>UI/UX Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vel dolor quasi quos eum, cum quam laborum consequuntur amet sunt est quaerat saepe?
                     Eligendi cupiditate laboriosam molestiae delectus obcaecati quia molestias.</p>
                <a>Explore Service<img class="arw" src="assets/icons/right-arrow.png"></a>
            </div>
            <div class="box">
                <div class="bg">
                <img class="pic1" src="assets/icons/coding.png">
                <img class="pic2" src="assets/icons/codingclr.png">
                </div>
                <h3>Branding Strategy</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vel dolor quasi quos eum, cum quam laborum consequuntur amet sunt est quaerat saepe?
                     Eligendi cupiditate laboriosam molestiae delectus obcaecati quia molestias.</p>
                <a>Explore Service<img class="arw" src="assets/icons/right-arrow.png"></a>
            </div>
            <div class="box">
                <div class="bg">
                <img class="pic1" src="assets/icons/coding.png">
                <img class="pic2" src="assets/icons/codingclr.png">
                </div>
                <h3>SEO Service</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vel dolor quasi quos eum, cum quam laborum consequuntur amet sunt est quaerat saepe?
                     Eligendi cupiditate laboriosam molestiae delectus obcaecati quia molestias.</p>
                <a>Explore Service<img class="arw" src="assets/icons/right-arrow.png"></a>
            </div>
            <div class="box">
                <div class="bg">
                <img class="pic1" src="assets/icons/coding.png">
                <img class="pic2" src="assets/icons/codingclr.png">
                </div>
                <h3>Digital Marketing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vel dolor quasi quos eum, cum quam laborum consequuntur amet sunt est quaerat saepe?
                     Eligendi cupiditate laboriosam molestiae delectus obcaecati quia molestias.</p>
                <a>Explore Service<img class="arw" src="assets/icons/right-arrow.png"></a>
            </div>
            <div class="box">
                <div class="bg">
                <img class="pic1" src="assets/icons/coding.png">
                <img class="pic2" src="assets/icons/codingclr.png">
                </div>
                <h3>Visual graphic</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vel dolor quasi quos eum, cum quam laborum consequuntur amet sunt est quaerat saepe?
                     Eligendi cupiditate laboriosam molestiae delectus obcaecati quia molestias.</p>
                <a>Explore Service<img class="arw" src="assets/icons/right-arrow.png"></a>
            </div>
        </div>
    </div>
    
<!-- content -->
    <div class="content">
        <div class="cont1">
            <div class="head">
            <h6>OUR SERVICES</h6>
            <h1>We create some things <br>for your success future</h1>
            </div>
            <div class="card">
                <div class="card1 crd">
                    <div><img class="tick" src="assets/icons/check-symbol.png"></div>
                    <div>
                        <h3>Highest success rates</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<bR>
                             Ipsum maxime similique possimus veritatis, eius rem molesti</p>
                    </div>
                </div>
                <div class="card2 crd">
                    <div><img class="tick" src="assets/icons/check-symbol.png"></div>
                    <div>
                        <h3>We grow businesses</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                            Ipsum maxime similique possimus veritatis, eius rem molesti</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont2">
            <img src="assets/icons/task2cont.jpg">
        </div>
        <div class="cont3">
            <img src="assets/icons/play-button.png">
            <h1>20+</h1>
            <h5>Years of experience</h5>
        </div>
    </div>


<!-- flex -->
    <div class="flex">
        <div class="head">
            <h6>PRICING PLANS</h6>
            <h1>We combine pricing plans <br> for your success</h1>
        </div>
        <div class="body">
        <div class="fl">
            <img  src="assets/icons/flex.png">
            <h3>Basic plan</h3>
            <p><b>$25</b>/month</p>
            <ul>
                <li>Supports your business</li>
                <li>Custom design</li>
                <li>Unlimited domains</li>
                <li>6 month premium support</li>
                <li>Lifetime updates</li>
            </ul>
            <button>Purchase</button>
        </div>
        <div class="fl">
            <img src="assets/icons/flex.png">
            <h3>Standard plan</h3>
            <p><b>$35</b>/month</p>
            <ul>
                <li>Supports your business</li>
                <li>Custom design</li>
                <li>Unlimited domains</li>
                <li>6 month premium support</li>
                <li>Lifetime updates</li>
            </ul>
            <button>Purchase</button>
        </div>
        <div class="fl fl3">
            <img  src="assets/icons/flex.png">
            <h3>Premium plan</h3>
            <p><b>$45</b>/month</p>
            <ul>
                <li>Supports your business</li>
                <li>Custom design</li>
                <li>Unlimited domains</li>
                <li>6 month premium support</li>
                <li>Lifetime updates</li>
            </ul>
            <button>Purchase</button>
        </div>
        </div>
    </div>
 

<!-- Footcard -->
    <div class="footcard">
        <div class="head">
            <h6>RATINGS</h6>
            <h1>What our customers <br>tells about our service</h1>
        </div>
        <div class="btn">
            <button><img class="img1" src="assets/icons/left-arrow.png">Prev</button>
            <button>Next<img class="img2" src="assets/icons/right-arrow.png"></button>
        </div>

        <div class="card">
            <div class="card1 crd">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet amet,
                     provident repudiandae tempora fugit, quam adipisci tempore vero necessitatibus 
                </p>
                <div class="flex">
                <div class="crdpic">
                <img src="assets/icons/man.png">
                </div>
                <div class="prof">
                    <h4>Nicolas</h4>
                    <small>Chief Designer</small>
                </div>
                </div>
            </div>
            <div class="card2 crd">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet amet,
                    provident repudiandae tempora fugit, quam adipisci tempore vero necessitatibus 
               </p>
               <div class="flex">
               <div class="crdpic">
               <img src="assets/icons/woman.png">
               </div>
               <div class="prof">
                   <h4>Lolita</h4>
                   <small>Chief Designer</small>
               </div>
               </div>
            </div>
            <div class="card3 crd">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet amet,
                    provident repudiandae tempora fugit, quam adipisci tempore vero necessitatibus 
               </p>
               <div class="flex">
               <div class="crdpic">
               <img src="assets/icons/man.png">
               </div>
               <div class="prof">
                   <h4>Charles</h4>
                   <small>Chief Designer</small>
               </div>
               </div>
            </div>
        </div>
    </div>


<!-- Footer -->
     <div class="footer">
        <img src="assets/icons/footerbg.jpg">
        <h1>Subscribe to get information, <br> latest news</h1>
        <div class="cont">
                <h3>Get Latest updates</h3>
                <input placeholder="Your Email Address">
                <button>Subscribe</button>
        </div>
        <div class="flex">
            <div class="col col1">
                <img class="logo" src="assets/icons/task2logo.jpg">
                <p>Lorem ipsum dolor sit amet consectetur us adipisicing elit.yrelw a
                     Exercitationem dolore ex adipisci Aliquam mollitia necessitatibus tenetur?
                      Accusamus, molestias cum.
                </p>
                <ul>
                    <li>AG</li>
                    <li>FB</li>
                    <li>TS</li>
                    <li>BE</li>
                </ul>
            </div>
            <div class="col col2">
                <h4>Company</h4>
                <ul>
                    <li>About</li>
                    <li>Service</li>
                    <li>Projects</li>
                    <li>Blogs</li>
                </ul>
            </div>
            <div class="col col3">
                <h4>Contact</h4>
                <ul>
                    <li>Flat 20, Reynolds neck, America, FW77</li>
                    <li>Mon-Fri 9AM-6PM</li>
                    <li>+31 (123)467 373<br> redias@gmail.com</li>
                </ul>
            </div>
            <div class="col col4">
                <h4>Gallery</h4>
                <div class="grid">
                <img src="assets/icons/man.png">
                <img src="assets/icons/woman.png">
                <img src="assets/icons/smileclr.png">
                <img src="assets/icons/flex.png">
                <img src="assets/icons/codingclr.png">
                <img src="assets/icons/floorclr.png">
                </div>
            </div>
        </div>
        <div class="cpyright">
            <small> &copy;2023 redias, All rights reserved. Designed by Varsha</small>
            <small>Privacy policy / Terms of use / Sales and refunds</small>
            <a href ><img class="up" src="assets/icons/go-up.png"></a>
        </div>
     </div>  
</div>
